<div>
    <h1>
        Hola Mundo!
    </h1>
</div>

<h2>Bienvenido {{role}} {{first_name}} {{last_name}}</h2>

<button id="logoutBtn" type="button">Cerrar sesión</button>

<button id="productsBtn" type="button">Ver Productos</button>


<script src="/socket.io/socket.io.js"></script>
<script src="js/session.js"></script>