<h1>Cart # {{cId}}</h1>

{{#each cart.rdo}}
<div>
    <h3>{{this.product.title}}</h3>
    <span>Cantidad: </span>{{this.quantity}}</span>
    <br />
    <span>Precio Unitario: ${{this.product.price}}</span>
</div>
<br />
<br />
{{/each}}